<link rel="preload" href="_next/static/chunks/pages/commands.js" as="script" />
</head>

<body>
    <div id="__next">
        <div class="container" id="container">
            <div class="containerContent" id="containerContent" data-scroll-content="true">

                <header class="header">
                            <div class="headerContent">
                                <div class="logo" style="transform: translate(0px); opacity: 1;"><a href="/">☠️Spooky-Bot🦴</a>
                                </div>
                                <nav class="mainNav" style="transform: translate(0px); opacity: 1;"><a href="/"
                                        data-path="/" class="">👻 Home</a><a href="/login"
                                        data-path="/login" class="">Login</a><a href="/commands"
                                        data-path="/commands" class="selected">All commands</a><a href="/about"
                                        data-path="/about" class="">About</a></nav>
                            </div>
                        </header>

                <div class="page">
                    <div class="loader">
                        <div class="loaderContent"></div>
                    </div>

                    <div class="page-content page-playground">
                        <h1 class="title">Spooky command</h1>
                        <p class="subtitle">You will be able to find all the usable commands</p>
                        <div class="posts">
                            <div class="post"><img src="./img/cardano.png" />
                            </div>
                            <div class="post"><img src="./img/cardano.png" />
                            </div>
                            <div class="post"><img src="./img/cardano.png" />
                            </div>
                            <div class="post"><img src="./img/cardano.png" />
                            </div>
                            <div class="post"><img src="./img/cardano.png" />
                            </div>
                            <div class="post"><img src="./img/cardano.png" />
                            </div>
                            <div class="post"><img src="./img/cardano.png" />
                            </div>
                            <div class="post"><img src="./img/cardano.png" />
                            </div>
                            <div class="post"><img src="./img/cardano.png" />
                            </div>
                            <div class="post"><img src="./img/cardano.png" />
                            </div>
                        </div>
                    </div>

                </div>

                <footer data-page="login">
                        <div class="line"></div>
                        <div class="footerContent">
                            <div class="contact">
                                <h2>Contact our support</h2>
                                <a href="mailto:owner@bylife.fr" class="contact-cta">Send an email</a>
                            </div>
                            <ul>
                                <li><a href="/" class="">Spooky home page</a></li>
                                <li><a href="/commands" class="selected">All commands</a></li>
                                <li><a href="/login" class="">Login</a></li>
                                <li><a href="/about" class="">About</a></li>
                            </ul>
                        </div>
                    </footer>

            </div>

            <div class="lightbox"></div><svg class="cursor" width="280" height="280" viewBox="0 0 280 280"></svg>

            <script src="../unpkg.com/imagesloaded%404.1.4/imagesloaded.pkgd.min.js"></script>
        </div>
    </div>

    <script id="__NEXT_DATA__" type="application/json">
        {
            "props": {
                "pageProps": {
                    "posts": [{
                        "title": "Turntable",
                        "date": "2021-01-01T00:00+01:00",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "ylcwwty70b3y"
                                    }
                                },
                                "id": "48gGTbPjW9zqwKqGx42EyZ",
                                "type": "Asset",
                                "createdAt": "2021-01-02T13:04:25.570Z",
                                "updatedAt": "2021-01-02T13:04:25.570Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "IMG 0467-1 2",
                                "file": {
                                    "url": "//images.ctfassets.net/ylcwwty70b3y/48gGTbPjW9zqwKqGx42EyZ/a53f16016827d90475b3123f6e1ff52f/IMG_0467-1_2.JPG",
                                    "details": {
                                        "size": 906119,
                                        "image": {
                                            "width": 2000,
                                            "height": 1200
                                        }
                                    },
                                    "fileName": "IMG_0467-1 2.JPG",
                                    "contentType": "image/jpeg"
                                }
                            }
                        }
                    }, {
                        "title": "Compound interest",
                        "date": "2021-01-01T00:00+01:00",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "ylcwwty70b3y"
                                    }
                                },
                                "id": "HbfyBrop01yyAS0AYzm0E",
                                "type": "Asset",
                                "createdAt": "2021-01-02T13:02:40.687Z",
                                "updatedAt": "2021-01-02T13:02:40.687Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "IMG 0683-1 2",
                                "file": {
                                    "url": "//images.ctfassets.net/ylcwwty70b3y/HbfyBrop01yyAS0AYzm0E/f2ba9ca2f964965a8eac74016a588c02/IMG_0683-1_2.JPG",
                                    "details": {
                                        "size": 558583,
                                        "image": {
                                            "width": 2000,
                                            "height": 1200
                                        }
                                    },
                                    "fileName": "IMG_0683-1 2.JPG",
                                    "contentType": "image/jpeg"
                                }
                            }
                        }
                    }, {
                        "title": "Power drill chuck",
                        "date": "2021-01-01T00:00+01:00",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "ylcwwty70b3y"
                                    }
                                },
                                "id": "4qI7wIqS1ltnrNox34mH9r",
                                "type": "Asset",
                                "createdAt": "2021-01-02T13:03:48.042Z",
                                "updatedAt": "2021-01-02T13:03:48.042Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "IMG 0299-1",
                                "file": {
                                    "url": "//images.ctfassets.net/ylcwwty70b3y/4qI7wIqS1ltnrNox34mH9r/d4a6a7c55a497656801b8eade9a9684f/IMG_0299-1.JPG",
                                    "details": {
                                        "size": 807242,
                                        "image": {
                                            "width": 2000,
                                            "height": 1200
                                        }
                                    },
                                    "fileName": "IMG_0299-1.JPG",
                                    "contentType": "image/jpeg"
                                }
                            }
                        }
                    }, {
                        "title": "Traffic cones",
                        "date": "2021-01-01T00:00+01:00",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "ylcwwty70b3y"
                                    }
                                },
                                "id": "iRk0R5e3YtP1XIGTPK00s",
                                "type": "Asset",
                                "createdAt": "2021-01-02T13:05:44.266Z",
                                "updatedAt": "2021-01-02T13:05:44.266Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "IMG 0333-1",
                                "file": {
                                    "url": "//images.ctfassets.net/ylcwwty70b3y/iRk0R5e3YtP1XIGTPK00s/7f452261dad3b3986d405fa1284fc862/IMG_0333-1.JPG",
                                    "details": {
                                        "size": 374743,
                                        "image": {
                                            "width": 1920,
                                            "height": 1080
                                        }
                                    },
                                    "fileName": "IMG_0333-1.JPG",
                                    "contentType": "image/jpeg"
                                }
                            }
                        }
                    }, {
                        "title": "Balloons",
                        "date": "2021-01-01T00:00+01:00",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "ylcwwty70b3y"
                                    }
                                },
                                "id": "2sitlpePL6cCVJ3ezAvYkj",
                                "type": "Asset",
                                "createdAt": "2021-01-02T13:04:59.238Z",
                                "updatedAt": "2021-01-02T13:04:59.238Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "IMG 6826-1",
                                "file": {
                                    "url": "//images.ctfassets.net/ylcwwty70b3y/2sitlpePL6cCVJ3ezAvYkj/d8f954ae196683fd0c6265023c2bdcad/IMG_6826-1.JPG",
                                    "details": {
                                        "size": 334799,
                                        "image": {
                                            "width": 1920,
                                            "height": 1080
                                        }
                                    },
                                    "fileName": "IMG_6826-1.JPG",
                                    "contentType": "image/jpeg"
                                }
                            }
                        }
                    }, {
                        "title": "Meemo app screens",
                        "date": "2016-01-01T00:00+01:00",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "ylcwwty70b3y"
                                    }
                                },
                                "id": "ibnlcHLUeETI3P7U78lep",
                                "type": "Asset",
                                "createdAt": "2021-01-02T13:16:22.287Z",
                                "updatedAt": "2021-01-02T13:16:22.287Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "dicta-web2",
                                "file": {
                                    "url": "//images.ctfassets.net/ylcwwty70b3y/ibnlcHLUeETI3P7U78lep/74e42e0be8e6d49ad061fb0f59048afd/dicta-web2.png",
                                    "details": {
                                        "size": 218617,
                                        "image": {
                                            "width": 2880,
                                            "height": 1800
                                        }
                                    },
                                    "fileName": "dicta-web2.png",
                                    "contentType": "image/png"
                                }
                            }
                        }
                    }, {
                        "title": "Meemo website",
                        "date": "2016-01-01T00:00+01:00",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "ylcwwty70b3y"
                                    }
                                },
                                "id": "3h5FMNKoLYu8eUHp2u5Xct",
                                "type": "Asset",
                                "createdAt": "2021-01-02T13:17:07.237Z",
                                "updatedAt": "2021-01-02T13:17:07.237Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "dicta-web1",
                                "file": {
                                    "url": "//images.ctfassets.net/ylcwwty70b3y/3h5FMNKoLYu8eUHp2u5Xct/f052e38a8f53d503c1984a8d17051d1d/dicta-web1.png",
                                    "details": {
                                        "size": 741733,
                                        "image": {
                                            "width": 2604,
                                            "height": 1750
                                        }
                                    },
                                    "fileName": "dicta-web1.png",
                                    "contentType": "image/png"
                                }
                            }
                        }
                    }, {
                        "title": "Thermo",
                        "date": "2015-12-01T00:00+01:00",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "ylcwwty70b3y"
                                    }
                                },
                                "id": "69ZSUCsaSd9XN1RlX8jVpQ",
                                "type": "Asset",
                                "createdAt": "2021-01-04T19:04:06.308Z",
                                "updatedAt": "2021-01-04T19:04:06.308Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "1",
                                "file": {
                                    "url": "//images.ctfassets.net/ylcwwty70b3y/69ZSUCsaSd9XN1RlX8jVpQ/f8d01f0999713d9de5cf1e5ddb8ff125/1.png",
                                    "details": {
                                        "size": 306675,
                                        "image": {
                                            "width": 800,
                                            "height": 600
                                        }
                                    },
                                    "fileName": "1.png",
                                    "contentType": "image/png"
                                }
                            }
                        }
                    }, {
                        "title": "Account balance",
                        "date": "2015-12-01T00:00+01:00",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "ylcwwty70b3y"
                                    }
                                },
                                "id": "3vQgkT1GMDBAef7I4LAP7C",
                                "type": "Asset",
                                "createdAt": "2021-01-04T19:04:42.422Z",
                                "updatedAt": "2021-01-04T19:04:42.422Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 1,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "2",
                                "file": {
                                    "url": "//images.ctfassets.net/ylcwwty70b3y/3vQgkT1GMDBAef7I4LAP7C/775126daa86eab331cbb5515efe11e34/2.png",
                                    "details": {
                                        "size": 319173,
                                        "image": {
                                            "width": 800,
                                            "height": 600
                                        }
                                    },
                                    "fileName": "2.png",
                                    "contentType": "image/png"
                                }
                            }
                        }
                    }, {
                        "title": "WIP",
                        "date": "2015-11-30T00:00+01:00",
                        "image": {
                            "sys": {
                                "space": {
                                    "sys": {
                                        "type": "Link",
                                        "linkType": "Space",
                                        "id": "ylcwwty70b3y"
                                    }
                                },
                                "id": "6rq8oW7Qj2cKKIwAWPuutZ",
                                "type": "Asset",
                                "createdAt": "2021-01-04T19:03:28.382Z",
                                "updatedAt": "2021-01-04T19:03:33.929Z",
                                "environment": {
                                    "sys": {
                                        "id": "master",
                                        "type": "Link",
                                        "linkType": "Environment"
                                    }
                                },
                                "revision": 2,
                                "locale": "en-US"
                            },
                            "fields": {
                                "title": "WIP",
                                "file": {
                                    "url": "//images.ctfassets.net/ylcwwty70b3y/6rq8oW7Qj2cKKIwAWPuutZ/095285b596851432a967fb69efbf3a78/wip.png",
                                    "details": {
                                        "size": 259850,
                                        "image": {
                                            "width": 1614,
                                            "height": 1046
                                        }
                                    },
                                    "fileName": "wip.png",
                                    "contentType": "image/png"
                                }
                            }
                        }
                    }]
                },
                "__N_SSG": true
            },
            "page": "/playground",
            "query": {},
            "buildId": "NpiV5kv-jEr_GBWg37vCx",
            "nextExport": false,
            "isFallback": false,
            "gsp": true
        }
    </script>
    <script nomodule="" src="_next/static/chunks/polyfills-e5012cf49fbb0a2642db.js"></script>
    <script src="_next/static/chunks/main-235005c3b45356be401c.js" async=""></script>
    <script src="_next/static/chunks/webpack-e067438c4cf4ef2ef178.js" async=""></script>
    <script src="_next/static/chunks/framework.cb05d56be993eb6b088a.js" async=""></script>
    <script src="_next/static/chunks/b290abc2b05678509b7555ffeb11641f706451bf.77650a8606e2861dae3c.js" async="">
    </script>
    <script src="_next/static/chunks/a32394c328e89dd060e8ff0235ff581c11ded463.cea6b1d6766b09daf645.js" async="">
    </script>
    <script src="_next/static/chunks/2181e69ba8beab63e4c36b0b69e1ec4534723f22.a9af54912a0459a4ecb2.js" async="">
    </script>
    <script src="_next/static/chunks/pages/_app.js" async=""></script>
    <script src="_next/static/chunks/pages/commands.js" async=""></script>
</body>