
            <link rel="preload" href="_next/static/chunks/pages/index.js" as="script" />
        </head>

        <body>
            <div id="__next">
                <div class="container" id="container">
                    <ul id="sideNav"></ul>
                    <div class="containerContent" id="containerContent" data-scroll-content="true">

                        <header class="header">
                            <div class="headerContent">
                                <div class="logo" style="transform: translate(0px); opacity: 1;"><a href="/">☠️Spooky-Bot🦴</a>
                                </div>
                                <nav class="mainNav" style="transform: translate(0px); opacity: 1;"><a href="/"
                                        data-path="/" class="">👻 Home</a><a href="/login"
                                        data-path="/login" class="">Login</a><a href="/commands"
                                        data-path="/commands" class="">All commands</a><a href="/about"
                                        data-path="/about" class="">About</a></nav>
                            </div>
                        </header>

                        <div class="page">

                            <div ></div>

                            <div class="loader">
                                <div class="loaderContent"></div>
                            </div>

                            <img id="testObject" src="img/object_01.png" class="movableObject movableObject1" />
                            <img id="testObject2" src="img/object_02.png" class="movableObject movableObject2" />

                            <div class="content-item hero">
                                <h1 class="">💀Spooky-Bot💀</h1>
                                <p class="subtitle">A whole new way to interact with discord is available to you.</p>
                            </div>

                            <main>


                            </main>

                            <svg id="fakeMouseCursor" width="95" height="50" viewBox="0 0 95 50" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="20" y="20" width="75" height="30" rx="6" fill="#FFC700"></rect>
                                <path id="fakeMouseCursorArrow"
                                    d="M8.73482 11.1848C8.33635 9.69768 9.69717 8.33685 11.1843 8.73533L22.1039 11.6612C24.0377 12.1794 24.095 14.9024 22.1847 15.5015L18.0937 16.7843C17.469 16.9802 16.9797 17.4695 16.7838 18.0942L15.5009 22.1852C14.9019 24.0955 12.1789 24.0382 11.6607 22.1044L8.73482 11.1848Z"
                                    fill="#FFC700"></path>
                                <path
                                    d="M30.4801 40.9995V29.3631H35.071C36.393 29.3631 37.4176 29.7078 38.1449 30.3972C38.8759 31.0866 39.2415 32.009 39.2415 33.1643C39.2415 33.9597 39.0634 34.6397 38.7074 35.2041C38.3551 35.7685 37.8475 36.1927 37.1847 36.4768L39.6562 40.9995H36.9403L34.7358 36.8745H32.9403V40.9995H30.4801ZM32.9403 34.8972H34.6108C36.0085 34.8972 36.7074 34.3196 36.7074 33.1643C36.7074 31.9711 36.0047 31.3745 34.5994 31.3745H32.9403V34.8972ZM40.9347 40.9995V32.2722H43.3551V40.9995H40.9347ZM42.1506 31.1472C41.7945 31.1472 41.4877 31.0279 41.2301 30.7893C40.9725 30.5469 40.8438 30.2571 40.8438 29.92C40.8438 29.5828 40.9725 29.295 41.2301 29.0563C41.4877 28.8177 41.7945 28.6984 42.1506 28.6984C42.5104 28.6984 42.8191 28.8177 43.0767 29.0563C43.3343 29.295 43.4631 29.5828 43.4631 29.92C43.4631 30.2571 43.3343 30.5469 43.0767 30.7893C42.8191 31.0279 42.5104 31.1472 42.1506 31.1472ZM49.2372 41.17C48.3433 41.17 47.5743 40.9806 46.9304 40.6018C46.2902 40.2192 45.7978 39.6889 45.4531 39.0109C45.1122 38.3328 44.9418 37.5525 44.9418 36.67C44.9418 35.776 45.1141 34.9919 45.4588 34.3177C45.8073 33.6397 46.3016 33.1113 46.9418 32.7325C47.5819 32.3499 48.3433 32.1586 49.2259 32.1586C49.9872 32.1586 50.6539 32.2969 51.2259 32.5734C51.8016 32.8499 52.2543 33.2381 52.5838 33.7381C52.9171 34.2381 53.1009 34.8253 53.1349 35.4995H50.8509C50.7865 35.0639 50.616 34.7135 50.3395 34.4484C50.0668 34.1794 49.7088 34.045 49.2656 34.045C48.705 34.045 48.2543 34.2703 47.9134 34.7211C47.5724 35.1719 47.402 35.8101 47.402 36.6359C47.402 37.4692 47.5705 38.115 47.9077 38.5734C48.2486 39.0279 48.7012 39.2552 49.2656 39.2552C49.6823 39.2552 50.0327 39.1302 50.3168 38.8802C50.6009 38.6264 50.7789 38.2666 50.8509 37.8006H53.1349C53.0971 38.4673 52.9152 39.0544 52.5895 39.562C52.2675 40.0696 51.8224 40.4654 51.2543 40.7495C50.6861 41.0298 50.0137 41.17 49.2372 41.17ZM54.6847 40.9995V29.3631H57.1051V35.5847H57.2358L60.0312 32.2722H62.8097L59.571 36.0506L62.9744 40.9995H60.1392L57.7585 37.4825L57.1051 38.2268V40.9995H54.6847ZM70.3651 40.9995L67.0355 29.3631H69.723L71.6491 37.4484H71.7457L73.8707 29.3631H76.1719L78.2912 37.4654H78.3935L80.3196 29.3631H83.0071L79.6776 40.9995H77.2798L75.0639 33.3916H74.973L72.7628 40.9995H70.3651ZM84.1463 41.1472C83.7713 41.1472 83.4493 41.0147 83.1804 40.7495C82.9115 40.4844 82.7789 40.1624 82.7827 39.7836C82.7789 39.4124 82.9115 39.0942 83.1804 38.8291C83.4493 38.5639 83.7713 38.4313 84.1463 38.4313C84.5099 38.4313 84.8262 38.5639 85.0952 38.8291C85.3679 39.0942 85.5062 39.4124 85.5099 39.7836C85.5062 40.1624 85.3679 40.4844 85.0952 40.7495C84.8262 41.0147 84.5099 41.1472 84.1463 41.1472Z"
                                    fill="black"></path>
                            </svg>

                        </div>

                        <footer data-page="commands">
                            <div class="line"></div>
                            <div class="footerContent">
                                <div class="contact">
                                    <h2>Contact our support</h2>
                                    <a href="mailto:owner@bylife.fr" class="contact-cta">Send an email</a>
                                </div>
                                <ul>
                                    <li><a href="/" class="selected">Spooky home page</a></li>
                                    <li><a href="/commands" class="">All commands</a></li>
                                    <li><a href="/login" class="">Login</a></li>
                                    <li><a href="/about" class="">About</a></li>
                                </ul>
                            </div>
                        </footer>

                    </div>

                    <div class="lightbox"></div>

                    <svg class="cursor" width="280" height="280" viewBox="0 0 280 280">
                        <defs>
                            <filter id="filter-1" x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox">
                                <feTurbulence type="fractalNoise" baseFrequency="0.02 0.15" numOctaves="3" result="warp">
                                </feTurbulence>
                                <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="0" in="SourceGraphic"
                                    in2="warp"></feDisplacementMap>
                            </filter>
                        </defs>
                        <circle class="cursor__inner" cx="140" cy="140" r="50"></circle>
                    </svg>

                    <script src="../unpkg.com/imagesloaded%404.1.4/imagesloaded.pkgd.min.js"></script>

                </div>
            </div>

            <script id="__NEXT_DATA__" type="application/json">
                {
                    "props": {
                        "pageProps": {}
                    },
                    "page": "/",
                    "query": {},
                    "buildId": "NpiV5kv-jEr_GBWg37vCx",
                    "nextExport": true,
                    "autoExport": true,
                    "isFallback": false
                }
            </script>
            <script nomodule="" src="_next/static/chunks/polyfills-e5012cf49fbb0a2642db.js"></script>
            <script src="_next/static/chunks/main-235005c3b45356be401c.js" async=""></script>
            <script src="_next/static/chunks/webpack-e067438c4cf4ef2ef178.js" async=""></script>
            <script src="_next/static/chunks/framework.cb05d56be993eb6b088a.js" async=""></script>
            <script src="_next/static/chunks/b290abc2b05678509b7555ffeb11641f706451bf.77650a8606e2861dae3c.js" async="">
            </script>
            <script src="./_next/static/chunks/a32394c328e89dd060e8ff0235ff581c11ded463.cea6b1d6766b09daf645.js" async="">
            </script>
            <script src="_next/static/chunks/2181e69ba8beab63e4c36b0b69e1ec4534723f22.a9af54912a0459a4ecb2.js" async="">
            </script>
            <script src="_next/static/chunks/pages/_app.js" async=""></script>
            <script src="_next/static/chunks/pages/index.js" async=""></script>

        </body>

